.head{
    display: flex;
    flex-direction: column;
}
.heading{
    font-size : 20px;
    font-weight: 600;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.sub-heading{
    font-size: 18px;
    font-weight: 700;
    color: rgb(167, 164, 160);
    padding-bottom: 5px;
}
.value{
    font-size: 20px;
    font-weight: 400;
    color: rgb(5, 5, 5);
}